/* header */ 

header {
    background: #808080;
    border-bottom:rgb(0, 0, 0) 5px solid;
}

.caixas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.caixaesq {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.caixadir {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.caixadir p {
    font-size: 25px;
    margin-top: 5px;
}

.cadastro {
    text-align: center;
    width: 100% ;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    background-color: #cecece;
}

.cadastro:hover {
    background: #cac7c7;
    transform: scale(1.05);
    
}

nav p {
    padding-top: 15px;
    margin: 0px 130px 0px  0px;
}

nav {
    position: absolute;
    top:110px;
    right: 0px;
    margin: 0 auto;
}

nav li {
    display: block;
    margin: 0 0 0 0px;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding-left: 0 auto ;
}

nav a:hover {
    color: rgb(119, 52, 52);
    text-decoration: underline;
}


/* cadastro */

body {
    background: #ececec;
}

.caixa-cadastro {
    width: 940px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

.input-style {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.superior {
    text-align: center; 
}

form input {
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
}

.superior label {
    display: block;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.superior label {
    display: block;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

input {
    padding: 7px;
    margin: 0 auto;
    width: 50%;
}

#chackboxilabel {
    font-size: 17px; 
}

.checkboxi {
    display: inline;
    margin-bottom: 20px;
    width: 5%;
}


.buton-email {
    display: flex;
    place-items: center;
    justify-content: space-between;
}

.enviar {
    display: inline-block;
    margin: 10px 10px 10px;
    padding: 10px 25px;
    text-align: center;
}

.enviar {
    width: 35%;
    background:rgb(180, 180, 180);
    border-color: rgb(0, 0, 0);
    margin-top: 40px;
    padding: 10x 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.enviar:hover {
    background: #cac7c7; 
    font-size: 15px;
}



/* home */

.banner {
    width: 100%;
    border-bottom: black solid 5px;
}

.servicos {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0px;
    
}

.titulo {
    text-align: center;
    margin: 0 0 1em;
    font-size: 2em;
    padding-top: 50px;
    font-weight: bold;
}

.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0% 1.5%;
    padding: 30px, 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 50px;
    background: #ffffff;
    
}

.servicos h2 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px;
}

.servico-bio {
    font-size: 20px;
    padding: 15px;
}

.servico-preco {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 20px;
}

.servicos li:hover {
    transform: scale(1.02);
}

.horario{
    display: block;
    margin: 0 auto;
    padding: 15px 25px;
    text-align: center;
}

.horario {
    width: 45%;
    background:rgb(219, 161, 161);
    border-color: rgb(0, 0, 0);
    margin-top: 40px;
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
}

.horario:hover {
    background: #a7cc92; 
    transform: scale(1.02);
}

.horarioo {
    margin: 40px 10px 80px 10px;
}

.divisao {
    border:rgb(0, 0, 0) solid 2px;
    padding: 0%;
    margin: 0%;
}

.all {
    background: linear-gradient(#e7e7e7, rgb(184, 184, 184), rgb(175, 174, 174),  rgb(175, 174, 174), rgb(163, 163, 163), rgb(163, 163, 163), rgb(112, 112, 112), rgb(82, 82, 82));
}

.utensilios{
    width: 175px;
    float: left;
    margin: 10px 20px 20px 130px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 2px #000000;
    border: black solid 2px;
}

.utensilios:hover {
    transform: scale(1.03);
}

.sobre {
    padding: 1em 0;
}

.sobre p {
    padding-top: 15px;
    margin: 0px 130px 0px  0px;
    font-size:23px;
}

.mapa p {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25PX;
    font-size:23px;
}

.mapa {
    padding: 2.5em 5em;
    background: linear-gradient(#b1aeae #888888);
}

.beneficios {
    padding-bottom: 3em;
}

.itens {
    font-size: 20px;
    line-height: 1.5;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.barbeiroimg {
   width: 50%; 
   border: black solid 2px;
   border-radius: 25px;
   box-shadow: 0px 2px 8px 2px #000000;
}

.barbeiroimg:hover {
    transform: scale(1.03);
}

.video {
    width: 560px;
    margin: 2em auto;
    background: rgb(56, 56, 56);
}


/* footer */

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 20px;
    border-top:rgb(0, 0, 0) 5px solid;
}

.rodape {
    color: white;
    font-size: small;
    margin-top: 0px 10px;
    position:relative;
}

/* agendar horario */

.titulosecu {
    text-align: center;
    margin: 0 0 1em;
    font-size: 27px;
    padding-top: 50px;
    font-weight: bold;
}

.oqueagendar legend {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 2em;
}

